<!-- <h2>{{ film.title | uppercase }}</h2>
<ul class="films">
  <li *ngFor="let film of films">
    <span class="badge">{{ film.title }}</span> {{ film.rt_score }}
  </li>
</ul> -->

<mat-card class="card" *ngFor="let film of films">
  <mat-card-header color="primary">
    <mat-card-title
      ><h2>{{ film.title }}</h2></mat-card-title
    >
    <mat-card-subtitle>{{ film.release_date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>{{ film.description }} </mat-card-content>
  <mat-card-footer
    ><p>Directed By {{ film.director }}</p>
    Rotten Tomatoes Score:
    <span class="bold">{{ film.rt_score }}</span></mat-card-footer
  >
</mat-card>
